<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <form #form="ngForm" class="user" (ngSubmit)="submit(form)">
                  <p>form.value: </p>
                  <pre>{{ form.value | json }}</pre>

                  <div ngModelGroup="user" #userGroup="ngModelGroup">

                    <p>userGroup.value: </p>
                    <pre>{{ userGroup.value | json }}</pre>

                    <div class="form-group">
                      <input name="email" type="email" class="form-control form-control-user" id="exampleInputEmail"
                        aria-describedby="emailHelp" placeholder="Enter Email Address..." ngModel required email
                        #emailInput="ngModel">


                      <p>emailInput.dirty: {{ emailInput.dirty }}</p>

                      <p>emailInput.invalid: {{ emailInput.invalid }}</p>

                      <p>emailInput.formDirective.value: {{ emailInput.formDirective.value | json }}</p>

                      <p>emailInput.errors: {{ emailInput.errors | json }}</p>

                      <div *ngIf="emailInput.invalid">
                        <div *ngIf="emailInput.errors['email']">email 格式不正確</div>
                        <div *ngIf="emailInput.errors['required']">email 必填</div>
                      </div>

                    </div>
                    <div class="form-group">
                      <input name="password" type="password" class="form-control form-control-user"
                        id="exampleInputPassword" placeholder="Password" ngModel minlength="8" #passwordInput="ngModel">

                      {{ passwordInput.errors | json }}
                      <div *ngIf="passwordInput.invalid">
                        <div *ngIf="passwordInput.errors['minlength']">
                          {{ passwordInput.errors['minlength']['actualLength'] }} /
                          {{ passwordInput.errors['minlength']['requiredLength'] }}
                        </div>
                      </div>

                    </div>

                  </div>

                  <div class="form-group">
                    <input type="input" class="form-control form-control-user" id="exampleInputPassword"
                      placeholder="Age" ngModel [ngModelOptions]="{standalone: true}">


                  </div>

                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck">
                      <label class="custom-control-label" for="customCheck">Remember Me</label>
                    </div>
                  </div>

                  <button type="submit" [disabled]="form.invalid" (click)="login()"
                    class="btn btn-primary btn-user btn-block">
                    Login
                  </button>
                  <hr>
                  <a href="index.html" class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i> Login with Google
                  </a>
                  <a href="index.html" class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                  </a>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="forgot-password.html">Forgot Password?</a>
                </div>
                <div class="text-center">
                  <a class="small" href="register.html">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
