<div class="container">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>
            <div class="user" [formGroup]="form">

              <div class="col-sm-6 mb-3 mb-sm-0">
                <input *ngIf="true" type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="Age"
                  disabled [value]="form.get('email').value">


                <input *ngIf="false" type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="Age"
                formControlName="email">
                <!-- <div class="">{{ form.get('email').value }}</div> -->

                <div *ngIf="form.get('age').invalid">
                  <pre>{{ form.get('age').errors | json }}</pre>
                </div>
              </div>

              <div class="form-group row" formGroupName="user">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="exampleFirstName"
                    placeholder="First Name" formControlName="firstName">


                  <div *ngIf="firstNameControl.invalid">
                    <pre>{{ form.get('user.firstName').errors | json }}</pre>
                  </div>
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name"
                    formControlName="lastName">
                </div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                  placeholder="Email Address" formControlName="email">
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="password" class="form-control form-control-user" id="exampleInputPassword"
                    placeholder="Password">
                </div>
                <div class="col-sm-6">
                  <input type="password" class="form-control form-control-user" id="exampleRepeatPassword"
                    placeholder="Repeat Password">
                </div>
              </div>

              <div class="form-group" formArrayName="interest">
                <!-- <input *ngFor="let ctrl of interestArray.controls; let index = index"
                   type="email" class="form-control form-control-user" id="exampleInputEmail"
                   [formControlName]="index"> -->
                <input *ngFor="let ctrl of interestArray.controls;" type="email" class="form-control form-control-user"
                  id="exampleInputEmail" [formControl]="ctrl">

                <button (click)="addInterest()">+</button>
              </div>

              <button (click)="register()" href="login.html" class="btn btn-primary btn-user btn-block">
                Register Account
              </button>
              <hr>
              <a href="index.html" class="btn btn-google btn-user btn-block">
                <i class="fab fa-google fa-fw"></i> Register with Google
              </a>
              <a href="index.html" class="btn btn-facebook btn-user btn-block">
                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
              </a>
            </div>
            <hr>
            <div class="text-center">
              <a class="small" href="forgot-password.html">Forgot Password?</a>
            </div>
            <div class="text-center">
              <a class="small" href="login.html">Already have an account? Login!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
